---
---

<div class="text-center mt-8">
  <a href="https://buymeacoffee.com/jmmv1988a" target="_blank" rel="noopener noreferrer">
    <img
      src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png"
      alt="Buy Me A Coffee"
      class="mx-auto h-10"
    />
  </a>
</div>