---
const { lang } = Astro.props;
---

<div class="text-sm space-x-4">
  <a href="/es/" class={lang === 'es' ? 'font-bold underline' : ''}>ES</a>
  <a href="/en/" class={lang === 'en' ? 'font-bold underline' : ''}>EN</a>
</div>