---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <section class="prose max-w-2xl mx-auto">
    <h2 class="text-3xl font-bold mb-4">Quién soy</h2>
    <p>Soy JMM, licenciado en Bioquímica por la Universidad Autónoma de Madrid y fundador de CurioScience, un proyecto de divulgación científica apasionado por acercar la ciencia a todos los públicos, sin barreras. Creo firmemente que el conocimiento científico no debe quedarse en los laboratorios ni en las élites académicas, sino que debe estar al alcance de todos, en todo momento. Por eso, en CurioScience trabajamos para hacer llegar los avances más recientes en ciencia y tecnología a tiempo real, traducidos a un lenguaje claro, accesible y visualmente atractivo. Mi objetivo es inspirar curiosidad, fomentar el pensamiento crítico y construir un puente entre la ciencia y la sociedad.</p>
    <p>Contacto: <a href="mailto:curioscience25@gmail.com" class="text-secondary">curioscience25@gmail.com</a></p>
  </section>
</Layout>
